[[local|localrc]]
OFFLINE=False
HOST_IP=172.27.162.239
GIT_BASE=${GIT_BASE:-https://github.com}
DEST=/opt/stack/new
SERVICE_DIR=/tmp/OpenStack/services
MYSQL_PASSWORD=secret
DATABASE_PASSWORD=secret
RABBIT_PASSWORD=secret
ADMIN_PASSWORD=admin
SERVICE_PASSWORD=secret
SERVICE_TOKEN=111222333445
SWIFT_HASH=1234123412341234
LIBVIRT_TYPE=kvm
LOGDIR=$DEST/screen-logs
LOGFILE=$DEST/devstacklog.txt
LOGDAYS=2
VERBOSE=True
VIRT_DRIVER=libvirt
SWIFT_REPLICAS=1
VOLUME_BACKING_FILE_SIZE=16G
USE_SCREEN=True
IMAGE_URLS+=",http://download.cirros-cloud.net/0.3.2/cirros-0.3.2-x86_64-disk.img"

disable_service n-net

ENABLED_SERVICES=rabbit,mysql,key
ENABLED_SERVICES+=,n-api,n-crt,n-obj,n-cpu,n-cond,n-sch,n-novnc,n-cauth
ENABLED_SERVICES+=,neutron,q-svc,q-agt,q-dhcp,q-l3,q-meta,q-lbaas
ENABLED_SERVICES+=,s-proxy,s-object,s-container,s-account
ENABLED_SERVICES+=,g-api,g-reg
ENABLED_SERVICES+=,cinder,c-api,c-vol,c-sch,c-bak
ENABLED_SERVICES+=,heat,h-api,h-api-cfn,h-api-cw,h-eng
#ENABLED_SERVICES+=,trove,tr-api,tr-tmgr,tr-cond
ENABLED_SERVICES+=,horizon,tempest
ENABLED_SERVICES+=sysstat,dstat,pidstat
#ENABLED_SERVICES+=,ceilometer-acompute,ceilometer-acentral,ceilometer-collector,ceilometer-api
#ENABLED_SERVICES+=,ceilometer-alarm-notifier,ceilometer-alarm-evaluator,ceilometer-anotification

# Networking Stuff
Q_USE_SECGROUP=True
FLOATING_RANGE=172.27.162.0/24
FIXED_RANGE=192.168.1.0/24
Q_FLOATING_ALLOCATION_POOL=start=172.27.162.220,end=172.27.162.229
PUBLIC_NETWORK_GATEWAY="172.27.162.254"
Q_L3_ENABLED=True
PUBLIC_INTERFACE=eno16780032
Q_USE_PROVIDERNET_FOR_PUBLIC=True
OVS_PHYSICAL_BRIDGE=br-ex
PUBLIC_BRIDGE=br-ex
OVS_BRIDGE_MAPPINGS=public:br-ex
NETWORK_GATEWAY=192.168.1.254

NEUTRON_CREATE_INITIAL_NETWORKS=False
#Q_OVS_USE_VETH=True

[[post-config|$CINDER_CONF]]
[DEFAULT]
enabled_backends=solidfire-1,lvmdriver-1
[solidfire-1]
# normal Lab cluster
volume_driver=cinder.volume.drivers.solidfire.SolidFireDriver
san_ip=172.27.1.50
san_login=admin
san_password=solidfire
volume_backend_name=solidfire
sf_account_prefix=balduf-liberty
